
@model List<PainelPokemon.Models.Pokemons.PokemonUnity>;
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor



@{
    ViewData["Title"] = "Pokemons Favoritos";
}

<div>
    <h2 class="display-4">Pokemons Favoritos</h2>
    
    @if (Model != null)
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                        <td><img src="@Html.DisplayFor(modelItem => item.Sprites.FrontDefault)"></td>

                        @{
                            var userId = @HttpContextAccessor.HttpContext.Session.GetString("UserId");
                        }


                        @if (!string.IsNullOrEmpty(userId))
                        {
                            <td>
                                <a asp-controller="Pokemon" asp-action="RemoveFavorite" asp-route-id="@item.Id">
                                    <button class="btn-danger" type="submit">Remover</button>
                                </a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        
    }
  
</div>