
@model List<PainelPokemon.Models.Pokemons.PokemonUnity>;
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor



@{
    ViewData["Title"] = "Pokemons Favoritos";
}

<div>
    <h2 class="display-4">Pokemons Favoritos</h2>
    
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="card">
                <img class="card-img-top @item.Type[0].Type.Name" src="@Html.DisplayFor(modelItem => item.Sprites.FrontDefault)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <strong>Tipos:</strong>
                    <ol class="card-text">

                        @for (int i = 0; i < item.Type.Length; i++)
                        {
                            <button class="@item.Type[i].Type.Name">@Html.DisplayFor(modelItem => item.Type[i].Type.Name)</button>
                        }
                    </ol>
                    @{
                        var userId = @HttpContextAccessor.HttpContext.Session.GetString("UserId");
                    }
                    @if (!string.IsNullOrEmpty(userId))
                    {

                        <a asp-controller="Pokemon" asp-action="RemoveFavorite" asp-route-id="@item.Id">
                            <button class="btn-danger" type="submit">Remover</button>
                        </a>
                    }
                </div>
        </div>
        }
    }
  
</div>