@model PainelPokemon.Models.Pokemons.PokemonsResults;

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Pokemons";
}

<div>
    <h2 class="display-4">Pokemons</h2>
    
    @if (Model != null)
    {
        @foreach (var item in Model.Pokemon)
        {
            <div class="card" >
                <img class="card-img-top @item.Type[0].Type.Name" src="@Html.DisplayFor(modelItem => item.Sprites.FrontDefault)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <strong>Tipos:</strong>
                    <ol class="card-text">
                            
                    @for(int i=0;i<item.Type.Length;i++)
                    {
                            <button class="@item.Type[i].Type.Name">@Html.DisplayFor(modelItem => item.Type[i].Type.Name)</button>
                            }
                    </ol>
                  
                    @{
                        var userId = @HttpContextAccessor.HttpContext.Session.GetString("UserId");
                    }
                    @if (!string.IsNullOrEmpty(userId))
                    {
 
                            <a asp-controller="Pokemon" asp-action="AddFavoritePokemon" asp-route-id="@item.Id">
                                <button class="btn-warning" type="submit">Favoritar</button>
                            </a>
                    }
                </div>
            </div>
        }
    }
    <br />

    <a asp-controller="Pokemon" asp-action="Pokemons" asp-route-urlPast="@Model?.Pokemons.Previous">
        <button class="btn-warning" type="submit">Previous</button>
    </a>
    <a asp-controller="Pokemon" asp-action="Pokemons" asp-route-urlPast="@Model?.Pokemons.Next">
        <button class= "btn-primary" type="submit">Next</button>
    </a>
  
</div>

